[core]
	name = igaray
	email = igarai@gmail.com
    eol = lf
    editor = vim
	excludesfile = /Users/inaki/.gitignore_global
[user]
	name = Iñaki Garay
	email = igarai@gmail.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    co = checkout
    br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	undo = reset --hard HEAD~1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
