[core]
    name = igaray
    email = igarai@gmail.com
    eol = lf
    editor = vim
    excludesfile = /Users/igaray/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
    name = Iñaki Garay
    email = igarai@gmail.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
	ui = true
[alias]
    st = status -uall
    br = branch
    ci = commit
    co = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    l1 = log --date=short --format='%C(yellow)%h %C(green)%cd %C(white)%s' -10
    undo = reset --hard HEAD~1
[push]
    default = matching
[status]
    short = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
