.config/awesome/wallpapers
.config/awesome/anxrc-icons
.config/awesome/conky-icons
.config/mc/panels.ini
.config/mc/ini
.config/ranger/__pycache__
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.mpd/log
.mpd/mpd.error
.mpd/mpd.log
.mpd/mpd.pid
.mpd/mpdstate
.mpd/sticker.sql
.vim/undodir/
.vim/recoverydir/
.vim/bundle/snipmate.vim
.weechat/logs/
.weechat/python/
.weechat/ssl/
.weechat/script.conf
.weechat/weechat.log

